<template>
    <div class="two">
        <h1 class="vue-title">Attack Wave 2</h1>

        <table align="center">
            <tr>
                <td>
                    <p class="lead"><b><i>The 2nd wave of the attack was similar to the first attack wave
                    with the same targets.</i></b>
                    <p>The 2nd wave made up of 3 groups. The first group consisted of 54 B5Ns bombers armed with
                     249 kg and 60 kg general-purpose bombs. The first group had two different targets with planes split between the two.
                    The two targets had 27 B5Ns bombers flying towards them which were aircraft and hangars on Kaneohe, Ford Island, and Barbers Point
                    and hangars and aircraft on Hickam Field.</p>
                    <p>The second group consisted of 78 D3As dive bombers armed with 249 kg general-purpose bombs. Their targets were
                        aircraft carriers and cruisers. </p>
                    <p>The third group consisted of 35 A6Ms fighter planes for defense and strafing and their targets were aircraft at Ford Island,
                        Hickam Field, Wheeler Field, Barber's Point, Kaneohe. Defense at this point was more important than the 1st wave as the americans
                    could start to organise themselves now.</p>
                    <p>There was a planned third wave but was called off as admiral Isoroku Yamamoto knew they had lost the element of surprise.</p>
                </td>
                <td>

                </td>
            </tr>
        </table>

        <p></p>
        <p class="lead"><img src="../assets/Plan.jpg" alt="description here" /></p>
    </div>
</template>

<style>
    .two {
        height: 100vh;
        margin-top: 30px;
        align-items: center;
        justify-content: center;
        text-align: center;
      background-color: lightgreen;
    }
    .two .lead {
        font-weight: 200;
        font-size: 1.0rem;
    }
    #app1 {
        width: 60%;
        margin: 0 auto;
    }
    .vue-title {
        font-size: 70pt;
        margin-bottom: 10px;
    }
</style>
