<template>
    <div class="one">
        <h1 class="vue-title">Attack Wave 1</h1>

        <table align="center">
            <tr>
                <td>
                    <p class="lead"><b><i>The first wave was detected on a newly built radar station and was mistook for six B17s Bombers
                        coming from America.</i></b>
                    <p>The assualt team was given the code word "tora" tora tora" which the pilots new it meant it was time to start the attack.
                        The first attack wave consisted of 183 planes which divided into 3 groups and led by commander Mitsuo Fuchida.</p>
                    <p>The 1st group consisted of 49 Nakajima B5N Kate bombers armed with 800 kg armor-piercing bombs and
                        40 B5N bombers armed with Type 91 torpedoes. Their targets were battleships and aircraft carriers.
                        One thing the Japanese intelligence did not pick up on is that the American aircraft carriers were
                        200 miles away on training excercises. </p>
                    <p> The 2nd group consisted of 51 Aichi D3A Val dive bombers armed with 249 kg general-purpose bombs. Their targets were
                        Ford Island and Wheeler Field which are to american airfields in Hawaii. Ford Island is located in the centre of Pearl Harbor.</p>
                    <p>The 3rd group consisted of 43 Mitsubishi A6M "Zero" fighters for air control and strafing. Their targets were aircraft at Ford Island, Hickam Field,
                        Wheeler Field, Barber's Point, Kaneohe. These were all airfields which had aircraft that could launch a counterattack.</p>
                </td>
            </tr>
        </table>

        <p><img src="../assets/Plan.jpg" alt="description here" /></p>
    </div>
</template>

<style>
    .one {
        height: 100vh;
        margin-top: 30px;
        align-items: center;
        justify-content: center;
        text-align: center;
      background-color: lightgreen;
    }
    .one .lead {
        font-weight: 200;
        font-size: 1.0rem;
    }
    #app1 {
        width: 60%;
        margin: 0 auto;
    }
    .vue-title {
        font-size: 70pt;
        margin-bottom: 10px;
    }
</style>
