<template>
  <div class="hero">
    <h3 class="vue-title"><i class="fa fa-list" style="padding: 3px"></i>{{messagetitle}}</h3>
    <div id="app1">
      <v-client-table :columns="columns" :data="messages" :options="options">
      </v-client-table>
    </div>
  </div>
</template>

<script>
import messagesservice from '@/services/messagesservice'
import Vue from 'vue'
import VueTables from 'vue-tables-2'

Vue.use(VueTables.ClientTable, {compileTemplates: true, filterByColumn: true})

export default {
  name: 'Messages',
  data () {
    return {
      messagetitle: ' Messages List ',
      messages: [],
      errors: [],
      columns: ['_id', 'userid', 'message'],
      options: {
        headings: {
          _id: 'ID',
          userid: 'Userid',
          messages: 'Message'
        }
      }
    }
  },
  // Fetches Donations when the component is created.
  created () {
    this.loadMessages()
  },
  methods: {
    loadMessages: function () {
      messagesservice.fetchMessages()
        .then(response => {
          // JSON responses are automatically parsed.
          this.messages = response.data
          console.log(this.messages)
        })
        .catch(error => {
          this.errors.push(error)
          console.log(error)
        })
    }
  }
}
</script>

<style scoped>
  #app1 {
    width: 60%;
    margin: 0 auto;
  }
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }
</style>-->
